*{
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color:#FFFFFF ;
  align-items: center;
  padding: 10px 5%;
}
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}
a{
  text-decoration: none;
  color: #557755;
}
button{
  background-color: #1D4ED8;
  color: #FFFFFF;
  height: 40px;
  width: 192px;
  border-radius: 12px;
}
header{
  background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    ),url('./assets/banner.jpg') ;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  position: relative;
  
}
.header-content{
  color:#FFFFFF ;
  text-align: center;
  display: grid;
  align-content: start;
  padding-top: 100px;
  gap: 30px;
}
.header-content button{
  margin-top: 130px;
  justify-self: center;
  position: absolute;
  
  bottom: 60px;
}
.italic{
  font-style: italic;
  
}
h1{
  font-weight: bold;
  font-size: 50px;
}
